<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/grids-min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/grids-responsive-min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" type="text/css" href="app.css"/>
</head>
<body>

  <div id="mainContent">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="searchTags" v-model="searchTags">
          <label class="mdl-textfield__label" for="searchTags">Search tags...</label>
        </div>

        <template v-if="activeTags.length">
          <h4>Active tags</h4>
          <a href="#" @click.prevent="toggleTag(tag)" :class="tagClasses(tag)" v-for="tag in activeTags">
            <span class="mdl-chip__text">{{tag}}</span>
          </a>
        </template>

        <h4>All tags</h4>
        <a href="#" @click.prevent="toggleTag(tag)" :class="tagClasses(tag)" v-for="tag in visibleTags">
          <span class="mdl-chip__text">{{tag}}</span>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-2-3">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="search" v-model="search">
          <label class="mdl-textfield__label" for="search">Search text...</label>
        </div>
        <ul class="bookmarks">
          <template v-for="bookmark in bookmarks">
            <li class="bookmark" v-show="visibleBookmarks.indexOf(bookmark) !== -1">
              <ea :href="bookmark.url" class="bookmark__title">{{bookmark.title}}</ea>
              <p v-if="bookmark.description.length">{{bookmark.description}}</p>

              <br v-if="bookmark.tags.length"/>
              <a href="#" @click.prevent="toggleTag(tag)" :class="tagClasses(tag)" v-for="tag in bookmark.tags">
                <span class="mdl-chip__text">{{tag}}</span>
              </a>

            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.10/URI.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
